// Variables
@import 'components/variables';

// Placeholders
%transparent-background{

	background-color: transparent;
	background-image: none;
	box-shadow: none;
}

%highlight-box{

	border: 1px solid #eff2f7;
	box-shadow: 1px 2px 12px 0px rgba(0,0,0,0.08);
}

//Mixins
@mixin smooth-transition($duration){

	-webkit-transition-duration: $duration; /* Safari */
    transition-duration: $duration;
}

// Resets

// This nukes the Bootstrap styling on the navigation menu itself and
// let's us control the colors.
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>li>a, 
.navbar-inverse .navbar-nav>a:hover,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus{

	@extend %transparent-background;

	color: $white;

	&:hover{

		color: $primary;
	}
}

// Global
*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;  
}


html {
  
  height: 100%;
}

body{

	background-color: $black;

	padding-bottom: 100px;

	font-family: 'Open Sans', sans-serif;

	// Sexy text
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizelegibility;
}

.title{

	font-family: 'Oswald', sans-serif;
	// text-transform: uppercase;
}

a{

	i{

		margin-right: 10px;
	}
}

.fancy-hr{

	width: 50px;
	height: 10px;

	margin: 0px;
	margin-bottom: 25px;

	background-color: $primary;
}

// Navigation Bar
.navbar{

	@extend %transparent-background;

	border: 0px;

	.container{

		width: 810px;
	}

	#nav-container{

		height: $navigation-height;

		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.navbar-brand{

		color: $white;
		font-size: 2.0em;

		&:hover{

			color: $primary;
		}
	}

	a{

		// Forcefully remove the text shadow on the navigation links.
		text-shadow: none !important;

		text-transform: uppercase;
		font-weight: 700;
	}
}

// Primary content
#wrapper{

	// All the content on the page should be pushed below the naviagation bar.
	margin-top: $navigation-height/2;
}

// Note Content
.notes-wrapper{

	background: $white;
	padding: 25px;

	border-radius: 5px;

	.title{

		text-transform: uppercase;
		margin-top: 0px;
	}

	a{

		position: absolute;
		right: 15px;
		top: 18px;

		color: $gray;
		font-size: 1.5em;
		opacity: 0.6;

		@include smooth-transition(0.5s);

		i{

			margin-right: 0px;
		}

		&:hover{

			color: $primary;
			opacity: 1.0;
		}
		
	}

	.note-group{

		margin-bottom: 50px;

		// background: white;

		&:last-child{

			margin-bottom: 0px;
		}

		.note{

			margin-bottom: 20px;		
			// padding: 15px;

			// min-height: 100px;
			// height: auto;

			position: relative;			

			input[type="text"]{			

				font-size: 1.1em;
				margin: 0px;

				max-width: 100%;
				width: 100%;
				// width: 100%;
				padding: 20px;

				border: 0px;

				display: inline-block;

				@extend %highlight-box;
			// @include smooth-transition(0.5s);
			}			

		}


	}
}