.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > a:hover,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus, .navbar {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}

.notes-wrapper .note-group .note input[type="text"] {
  border: 1px solid #eff2f7;
  box-shadow: 1px 2px 12px 0px rgba(0, 0, 0, 0.08);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > a:hover,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #FFFFFF;
}

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > a:hover:hover,
.navbar-inverse .navbar-nav > .active > a:hover:hover,
.navbar-inverse .navbar-nav > .active > a:focus:hover {
  color: #5887FF;
}

* {
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #393D3F;
  padding-bottom: 100px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.title {
  font-family: 'Oswald', sans-serif;
}

a i {
  margin-right: 10px;
}

.fancy-hr {
  width: 50px;
  height: 10px;
  margin: 0px;
  margin-bottom: 25px;
  background-color: #5887FF;
}

.navbar {
  border: 0px;
}

.navbar .container {
  width: 810px;
}

.navbar #nav-container {
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navbar-brand {
  color: #FFFFFF;
  font-size: 2.0em;
}

.navbar .navbar-brand:hover {
  color: #5887FF;
}

.navbar a {
  text-shadow: none !important;
  text-transform: uppercase;
  font-weight: 700;
}

#wrapper {
  margin-top: 50px;
}

.notes-wrapper {
  background: #FFFFFF;
  padding: 25px;
  border-radius: 5px;
}

.notes-wrapper .title {
  text-transform: uppercase;
  margin-top: 0px;
}

.notes-wrapper a {
  position: absolute;
  right: 15px;
  top: 18px;
  color: #7F7F7F;
  font-size: 1.5em;
  opacity: 0.6;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
}

.notes-wrapper a i {
  margin-right: 0px;
}

.notes-wrapper a:hover {
  color: #5887FF;
  opacity: 1.0;
}

.notes-wrapper .note-group {
  margin-bottom: 50px;
}

.notes-wrapper .note-group:last-child {
  margin-bottom: 0px;
}

.notes-wrapper .note-group .note {
  margin-bottom: 20px;
  position: relative;
}

.notes-wrapper .note-group .note input[type="text"] {
  font-size: 1.1em;
  margin: 0px;
  max-width: 100%;
  width: 100%;
  padding: 20px;
  border: 0px;
  display: inline-block;
}
